<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <head ng-app = "SampleApp" ng-controller = "TestControl">
         <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
         <style>
label{
  padding-right: 205px;
  padding-left:36px;
  text-align:left; 
  }
  </style>
        </head>
        <body >    
            <div class="page-header" id="ADD">
</div>
 <form id="form1" class="form-horizontal" role="form">
<div class="row" id="integer">
            <div class="form-group">
			<label for="Email"> Email ID:</label>
			<input class="form-control" type="email" id="emp_email"  style="padding-left: 39px;" name="email" ng-model="login_Details.User_Name"  placeholder="Enter your Email ID" />
		    </div>

			<div class="form-group">
			<label for="password"> Password:</label>
			<input class="form-control" type="password" id="emp_password"  style="padding-left: 39px;" name="password" ng-model="login_Details.User_Password" placeholder="Enter your Password" />
		    </div>
            <div>
                <br>
           <button id="save" type="submit" class="btn btn-success col-xs-6" ng-click="login()">LOGIN</button>
           <button id="save" type="submit" class="btn btn-primary col-xs-6" ng-click = "registerPage()">REGISTER</button>
			</div>
            </body>
        </div>
            </html> 