<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="../Controller/Sample.client.controller.js"></script>
<head ng-app = 'SampleApp' ng-controller = 'TestControl'>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<style>
		label{
			padding-right: 205px;
			padding-left:36px;
			text-align:left; 
		}
	</style>
</head>
<div >
	<body >
		<div class="page-header" id="ADD">
		</div>
		<form id="form1" class="form-horizontal" role="form">
			<div class="row" id="integer">
				<div class="form-group">
					<label for="firstname"> First Name:</label>
					<input class="form-control" type="text" id="emp_fname" ng-model = "UserDetails.User_FirstName"  style="padding-left: 39px;" name="fname"  placeholder="Enter your First Name" />
				</div>
				<div class="form-group">			
					<label for="lastname">Last Name:</label>
					<input class="form-control" type="text" id="emp_lname"  ng-model = "UserDetails.User_LastName" style="padding-left: 39px;" name="lname" placeholder="Enter your Last Name" />
				</div>

				<div class="form-group">
					<label for="Email"> Email ID:</label>
					<input class="form-control" type="email" id="emp_email" ng-model = "UserDetails.User_Mailid"  style="padding-left: 39px;" name="email"  placeholder="Enter your Email ID" />
				</div>

				<div class="form-group">
					<label for="password"> Password:</label>
					<input class="form-control" type="password" id="emp_password"  ng-model = "UserDetails.User_Password" style="padding-left: 39px;" name="password"  placeholder="Enter your Password" />
				</div>

				<div class="form-group">
					<label for="phone">Contact:</label>
					<input class="form-control" type="text" id="emp_phone" name="phone"  ng-model = "UserDetails.User_Number" placeholder="Enter your Phone Number" />
				</div>
				<div>
					<p id ="eid">
					</p>
					<button id="save" type="submit" ng-click = "submitDetails(UserDetails)" class="btn btn-default col-xs-6"><span class="glyphicon glyphicon-floppy-save" ng-click = "submitDetails(UserDetails)">Save</span></button>
					<button id="cancel" ng-click = "login" class="btn btn-default col-xs-6"><span class="glyphicon glyphicon-remove">Cancel</span></button> 
				</div>
			</div>
		</body>
		</html>