<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="../Controller/Sample.client.controller.js"></script>
<head ng-app = 'SampleApp' ng-controller = 'TestControl'>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<style>
		label{
			padding-right: 205px;
			padding-left:3px;
			text-align:left; 
		}
		 body {
    background-color : #E6FAFA;
		 }
		.jumbotron{
    height: 580px;
    width: 404px;
    margin-left: 350px;
    margin-top: 0px;
    background-color :#FFE1CE;
}
	</style>
</head>
<div >
	<body >
		<div class="jumbotron">
			<div class="page-header">
    <h4 style=" margin-left: 60px;">REGISTER DETAILS</h4>      
  </div>
		<form id="form1" class="form-horizontal" role="form">
				<div class="form-group">
					<label for="firstname"> First Name:</label>
					<input class="form-control" type="text" style="padding-left:4px;" ng-model = "UserDetails.User_FirstName"  style="padding-left: 39px;" name="fname"  placeholder="Enter your First Name" />
				</div>
				<div class="form-group">			
					<label for="lastname">Last Name:</label>
					<input class="form-control" type="text"  style="padding-left:4px;" ng-model = "UserDetails.User_LastName" style="padding-left: 39px;" name="lname" placeholder="Enter your Last Name" />
				</div>

				<div class="form-group">
					<label for="Email"> Email ID:</label>
					<input class="form-control" type="email"style="padding-left:4px;"  ng-model = "UserDetails.User_Mailid"  style="padding-left: 39px;" name="email"  placeholder="Enter your Email ID" />
				</div>

				<div class="form-group">
					<label for="password"> Password:</label>
					<input class="form-control" type="password" style="padding-left:4px;"   ng-model = "UserDetails.User_Password" style="padding-left: 39px;" name="password"  placeholder="Enter your Password" />
				</div>

				<div class="form-group">
					<label for="phone">Contact:</label>
					<input class="form-control" type="text" name="phone" style="padding-left:4px;"  ng-model = "UserDetails.User_Number" placeholder="Enter your Phone Number" />
				</div>
				<div>
					<button id="save" type="submit" ng-click = "submitDetails(UserDetails)" style="padding-left:4px;margin-left: 60px;margin-top: 10px;"class="btn btn-success col-xs-6">REGISTER</button>
				</div>
			</div>
		</body>
		</html>